
<table class="table responsive-table">
    <thead>
        <tr class="CustomerCenterMenu">
            <td>
                @Translate("Frequency", "Frequency")
                @GetString("Ecom:CustomerCenter.SortByFrequency.Desc")
                @GetString("Ecom:CustomerCenter.SortByFrequency.Asc")
            </td>
            <td>
                @Translate("Create Date", "Create Date")
                @GetString("Ecom:CustomerCenter.SortByCreateDate.Desc")
                @GetString("Ecom:CustomerCenter.SortByCreateDate.Asc")
            </td>
            <td>
                @Translate("End Date", "End Date")
                @GetString("Ecom:CustomerCenter.SortByEndDate.Desc")
                @GetString("Ecom:CustomerCenter.SortByEndDate.Asc")
            </td>
            <td>
                @Translate("Next Delivery", "Next Delivery")
                @GetString("Ecom:CustomerCenter.SortByNextDelivery.Desc")
                @GetString("Ecom:CustomerCenter.SortByNextDelivery.Asc")
            </td>
            <td></td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        @if (!string.IsNullOrWhiteSpace(GetString("Ecom:CustomerCenter.RecurringOrders.EmptyList"))) {
            <tr id="trNoOrdersFound">
                <td colspan="6"><strong>@Translate("No recurring orders found", "No recurring orders found")</strong></td>
            </tr>
        } else {
            foreach (LoopItem orderline in GetLoop("RecurringOrders")){
                <tr class="@orderline.GetString("Ecom:CustomerCenter.Paging.EvenRowClass")">
                    <td>
                        @Translate("Every", "Every") @orderline.GetString("Ecom:RecurringOrder.Interval") @orderline.GetString("Ecom:RecurringOrder.IntervalUnit.Name")
                    </td>
                    <td>@orderline.GetString("Ecom:RecurringOrder.CreateDate")</td>
                    <td>
                        @if (!string.IsNullOrWhiteSpace(orderline.GetString("Ecom:RecurringOrder.EndDate"))) {
                            @orderline.GetString("Ecom:RecurringOrder.EndDate")
                        } else {
                            @Translate("Never", "Never")
                        }
                    </td>
                    <td>@orderline.GetString("Ecom:RecurringOrder.NextDelivery")</td>
                    <td>
                        @if (!string.IsNullOrWhiteSpace(orderline.GetString("Ecom:CustomerCenter.RecurringOrders.DeleteUrl"))) { 
                            <a class="btn btn-xs btn-dw-secondary" href="@orderline.GetString("Ecom:CustomerCenter.RecurringOrders.DeleteUrl")" title="@Translate("Cancel subscription", "Cancel subscription")" onclick="return confirm('@Translate("Are you sure to cancel recurring order?")');">@Translate("Cancel subscription", "Cancel subscription")</a>
                        } else {
                            @Translate("Ended", "Ended")
                        }
                    </td>
                    <td>
                        <a class="btn btn-xs btn-dw-primary" href="@orderline.GetString("Ecom:CustomerCenter.RecurringOrders.RecurringOrderDetailsURL")" title="@Translate("Details", "Details")">@Translate("Details", "Details")</a>
                    </td>
                </tr>
            }

            if (!string.IsNullOrWhiteSpace(GetString("Ecom:CustomerCenter.RecurringOrders.Paging.Show"))) {
                <tr>
                    <td align="center" colspan="6" valign="top">
                        @if (!string.IsNullOrWhiteSpace(GetString("Ecom:CustomerCenter.Paging.Back.URL"))) {
                            <a href="@GetString("Ecom:CustomerCenter.Paging.Back.URL")">@GetString("Ecom:CustomerCenter.Paging.Back")</a>
                        }
                        @if (!string.IsNullOrWhiteSpace(GetString("Ecom:CustomerCenter.Paging.HasPages"))) {
                            foreach (LoopItem orderline in GetLoop("Ecom:CustomerCenter.Paging.Pages")) {
                                <a class="@GetString("Ecom:CustomerCenter.Paging.PageClass")" href="@GetString("Ecom:CustomerCenter.Paging.PageIndexUrl")">@GetString("Ecom:CustomerCenter.Paging.PageIndex")</a>
                            }
                        }
                        @if (!string.IsNullOrWhiteSpace(GetString("Ecom:CustomerCenter.Paging.Forward.URL"))) {
                            <a href="@GetString("Ecom:CustomerCenter.Paging.Forward.URL")">@GetString("Ecom:CustomerCenter.Paging.Forward")</a>
                        }
                    </td>
                </tr>
                <tr>
                    <td align="center" colspan="6">
                        Page @GetString("Ecom:CustomerCenter.Paging.CurrentPage") of @GetString("Ecom:CustomerCenter.Paging.NumPages")
                    </td>
                </tr>
            }
        }
    </tbody>
</table>