<h2>@Translate("Order confirmation", "Order confirmation")</h2>
<table width="100%" border="0" cellspacing="0" cellpadding="0" ID="Table3">
    <tr>
        <td width="50%" valign="top">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" ID="Table2">
	            <tr>
	                <td width="100%" valign="top" colspan="3"><b>@Translate("Billing address", "Billing address")</b></td>
	            </tr>
	            <tr>
	                <td width="39%" valign="top">@Translate("Company", "Company")</td>
	                <td width="1%" valign="top">: </td>
	                <td width="60%" valign="top">@GetString("Ecom:Order.Customer.Company")</td>
	            </tr>
	            <tr>
	                <td width="39%" valign="top">@Translate("Name", "Name")</td>
	                <td width="1%" valign="top">: </td>
	                <td width="60%" valign="top">@GetString("Ecom:Order.Customer.Name")</td>
	            </tr>
	            <tr>
	                <td width="39%" valign="top">@Translate("Address", "Address")</td>
	                <td width="1%" valign="top">: </td>
	                <td width="60%" valign="top">@GetString("Ecom:Order.Customer.Address")</td>
	            </tr>
	            <tr>
	                <td width="39%" valign="top">@Translate("Adress", "Adress") 2</td>
	                <td width="1%" valign="top">: </td>
	                <td width="60%" valign="top">@GetString("Ecom:Order.Customer.Address2")</td>
	            </tr>
	            <tr>
	                <td width="39%" valign="top">@Translate("Zipcode", "Zipcode")</td>
	                <td width="1%" valign="top">: </td>
	                <td width="60%" valign="top">@GetString("Ecom:Order.Customer.Zip")<text>&nbsp;</text>@GetString("Ecom:Order.Customer.City")</td>
	            </tr>
	            <tr>
	                <td width="39%" valign="top">@Translate("Country", "Country")</td>
	                <td width="1%" valign="top">: </td>
	                <td width="60%" valign="top">@GetString("Ecom:Order.Customer.Country")</td>
	            </tr>
	            <tr>
	                <td width="39%" valign="top">@Translate("EAN", "EAN")</td>
	                <td width="1%" valign="top">: </td>
	                <td width="60%" valign="top">@GetString("Ecom:Order.Customer.EAN")</td>
	            </tr>
	            <tr>
	                <td width="39%" valign="top">@Translate("Phone", "Phone")</td>
	                <td width="1%" valign="top">: </td>
	                <td width="60%" valign="top">@GetString("Ecom:Order.Customer.Phone")</td>
	            </tr>
	            <tr>
	                <td width="39%" valign="top">@Translate("Fax", "Fax")</td>
	                <td width="1%" valign="top">: </td>
	                <td width="60%" valign="top">@GetString("Ecom:Order.Customer.Fax")</td>
	            </tr>
	            <tr>
	                <td width="39%" valign="top">@Translate("Mobile", "Mobile")</td>
	                <td width="1%" valign="top">: </td>
	                <td width="60%" valign="top">@GetString("Ecom:Order.Customer.Cell")</td>
	            </tr>
	            <tr>
	                <td width="39%" valign="top">@Translate("Email", "Email")</td>
	                <td width="1%" valign="top">: </td>
	                <td width="60%" valign="top">@GetString("Ecom:Order.Customer.Email")</td>
	            </tr>
            </table>
            <br><br>
            <table width="100%" border="0" cellspacing="0" cellpadding="0" ID="Table5">
	            <tr>
	                <td width="100%" valign="top" colspan="3"><b>@Translate("Orderinformation", "Orderinformation")</b></td>
	            </tr>
	            <tr>
	                <td width="39%" valign="top">@Translate("Ordernumber", "Ordernumber")</td>
	                <td width="1%" valign="top">: </td>
	                <td width="60%" valign="top">@GetString("Ecom:Order.ID")</td>
	            </tr>
	            <tr>
	                <td width="39%" valign="top">@Translate("Orderdate", "Orderdate")</td>
	                <td width="1%" valign="top">: </td>
	                <td width="60%" valign="top">@GetDate("Ecom:Order.Completed").ToString(Dynamicweb.Dates.DateFormatStringShort)</td>
	            </tr>
	            <tr>
	                <td width="39%" valign="top">@Translate("Client IP", "Client IP")</td>
	                <td width="1%" valign="top">: </td>
	                <td width="60%" valign="top">@GetString("Ecom:Order.IP")</td>
	            </tr>
	        </table>
        </td>
        <td width="50%" valign="top">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" ID="Table4">
                <tr>
                    <td width="100%" valign="top" colspan="3"><b>@Translate("Delivery address", "Delivery address")</b></td>
                </tr>
                <tr>
                    <td width="39%" valign="top">@Translate("Company", "Company")</td>
                    <td width="1%" valign="top">: </td>
                    <td width="60%" valign="top">@GetString("Ecom:Order.Delivery.Company")</td>
                </tr>
                <tr>
                    <td width="39%" valign="top">@Translate("Name", "Name")</td>
                    <td width="1%" valign="top">: </td>
                    <td width="60%" valign="top">@GetString("Ecom:Order.Delivery.Name")</td>
                </tr>
                <tr>
                    <td width="39%" valign="top">@Translate("Address", "Address")</td>
                    <td width="1%" valign="top">: </td>
                    <td width="60%" valign="top">@GetString("Ecom:Order.Delivery.Address")</td>
                </tr>
                <tr>
                    <td width="39%" valign="top">@Translate("Adress", "Adress") 2</td>
                    <td width="1%" valign="top">: </td>
                    <td width="60%" valign="top">@GetString("Ecom:Order.Delivery.Address2")</td>
                </tr>
                <tr>
                    <td width="39%" valign="top">@Translate("Zipcode", "Zipcode")</td>
                    <td width="1%" valign="top">: </td>
                    <td width="60%" valign="top">@GetString("Ecom:Order.Delivery.Zip")<text>&nbsp;</text>@GetString("Ecom:Order.Delivery.City")</td>
                </tr>
                <tr>
                    <td width="39%" valign="top">@Translate("Country", "Country")</td>
                    <td width="1%" valign="top">: </td>
                    <td width="60%" valign="top">@GetString("Ecom:Order.Delivery.Country")</td>
                </tr>
                <tr>
                    <td width="39%" valign="top">@Translate("Phone", "Phone")</td>
                    <td width="1%" valign="top">: </td>
                    <td width="60%" valign="top">@GetString("Ecom:Order.Delivery.Phone")</td>
                </tr>
                <tr>
                    <td width="39%" valign="top">@Translate("Fax", "Fax")</td>
                    <td width="1%" valign="top">: </td>
                    <td width="60%" valign="top">@GetString("Ecom:Order.Delivery.Fax")</td>
                </tr>
                <tr>
                    <td width="39%" valign="top">@Translate("Mobile", "Mobile")</td>
                    <td width="1%" valign="top">: </td>
                    <td width="60%" valign="top">@GetString("Ecom:Order.Delivery.Cell")</td>
                </tr>
                <tr>
                    <td width="39%" valign="top">@Translate("Email", "Email")</td>
                    <td width="1%" valign="top">: </td>
                    <td width="60%" valign="top">@GetString("Ecom:Order.Delivery.Email")</td>
                </tr>
            </table>
        </td>
    </tr>
</table>


<table cellspacing="0" cellpadding="0" border="0" width="100%" style="margin-top: 15px;">
<tr>
    <td colspan="5">
        <b>@Translate("Orderspecification", "Orderspecification")</b>
    </td>
</tr>
<tr class="basketheader">
	<td>@Translate("Amount", "Amount")</td>
	<td>@Translate("Name", "Name")</td>
	<td>@Translate("Weight", "Weight")</td>
	<td>@Translate("Volume", "Volume")</td>
	<td>@Translate("Price", "Price")</td>
</tr>
@foreach (LoopItem orderline in GetLoop("OrderLines")){
	<tr class="orderline">
		<td>@GetString("Ecom:Order:OrderLine.Quantity")</td>
		<td nowrap><a href="@orderline.GetString("Ecom:Order:OrderLine.ProductLink")">@orderline.GetString("Ecom:Order:OrderLine.ProductName.Short")</a></td>
		<td align="right">@orderline.GetString("Ecom:Order:OrderLine.Weight")</td>
		<td align="right">@orderline.GetString("Ecom:Order:OrderLine.Volume")</td>
		<td align="right">@orderline.GetString("Ecom:Order:OrderLine.Price.PriceFormatted")</td>
	</tr>
	foreach (LoopItem bomitem in orderline.GetLoop("BOMItems")){
		<tr class="orderline">
			<td style="padding-top:4px;padding-bottom:4px;background-color:#CCC">@bomitem.GetString("Ecom:Order:OrderLine.ProductNumber")</td>
			<td style="padding-top:4px;padding-bottom:4px;background-color:#CCC">@bomitem.GetString("Ecom:Order:OrderLine.ProductName.Short")</td>
			<td style="padding-top:4px;padding-bottom:4px;background-color:#CCC">@bomitem.GetString("Ecom:Order:OrderLine.Price")</td>
			<td style="padding-top:4px;padding-bottom:4px;background-color:#CCC">@bomitem.GetString("Ecom:Order:OrderLine.Quantity")</td>
			<td style="padding-top:4px;padding-bottom:4px;background-color:#CCC">@bomitem.GetString("Ecom:Order:OrderLine.TotalPrice")</td>
		</tr>
	}
}
<tr class="separator">
	<td colspan="5"></td>
</tr>
<tr class="total">
	<td></td>
	<td>@Translate("Total", "Total")</td>
	<td></td>
	<td></td>
	<td align="right">@GetString("Ecom:Order.PriceWithoutFees.PriceFormatted")</td>
</tr>
<tr class="fee">
	<td></td>
	<td>@Translate("Paymentfee", "Paymentfee")</td>
	<td></td>
	<td></td>
	<td align="right">@GetString("Ecom:Order.PaymentFee.PriceFormatted")</td>
</tr>
<tr class="fee">
	<td></td>
	<td>@Translate("Deliveryfee", "Deliveryfee")</td>
	<td align="right">@GetString("Ecom:Order.Weight")</td>
	<td align="right">@GetString("Ecom:Order.Volume")</td>
	<td align="right">@GetString("Ecom:Order.ShippingFee.PriceFormatted")</td>
</tr>
<tr class="separator">
	<td colspan="5"></td>
</tr>
<tr class="total">
	<td align="right"></td>
	<td>@Translate("Total with VAT", "Total with VAT")</td>
	<td></td>
	<td colspan="2" align="right">@GetString("Ecom:Order.Price.PriceWithVATFormatted")</td>
</tr>
<tr class="fee">
	<td></td>
	<td>@Translate("VAT", "VAT")</td>
	<td></td>
	<td></td>
	<td align="right"><b>@GetString("Ecom:Order.Price.VATFormatted")</b></td>
</tr>
<tr class="fee">
	<td></td>
	<td>@Translate("Total without VAT", "Total without VAT")</td>
	<td></td>
	<td></td>
	<td align="right"><b>@GetString("Ecom:Order.Price.PriceWithoutVATFormatted")</b></td>
</tr>
<tr class="separator">
	<td colspan="5"></td>
</tr>
<tr>
    <td colspan="5">
        <b>@Translate("Note", "Note")</b> : <br>
        @GetString("Ecom:Order.Customer.Comment")
    </td>
</tr>
</table>
<a href="@GetString("Ecom:Order.ReceiptURL")">@Translate("Click here to see the order in a browser", "Click here to see the order in a browser")</a>