@MasterPageFile("master.cshtml")
@Title("Product Gallery Page")
@Description("Use this for pages in the product gallery")


@{
    string TitleFont = @FontSettings.H1.FontFamily;
    string SubFont = @FontSettings.H2.FontFamily;
}

@if(GetBoolean("Item.Page.LayoutShowBreadcrumb")) {
<div class="pg-opt pin white">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-3 hidden-sm hidden-xs">
				@if (GeneralSettings.Navigation.BreadcrumbMode != "light")
				{
					<div class="dw-breadcrumb-title">@GetGlobalValue("Global:Page.Top.Name")</div>
				}
			</div>
			<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
				<ul class="breadcrumb dwnavigation dw-breadcrumb" id="breadcrumb" data-settings="template:breadcrumb.xslt">
					<li><a href="#">Home</a></li>
					<li><a href="#">Library</a></li>
					<li class="active">Data</li>
				</ul>
			</div>
		</div>
	</div>
</div>
}

@{
	string totalimages = "";

	foreach (LoopItem i in GetLoop("Item.Images")){
		totalimages = @i.GetString("Item.Images._total");
	}

	var textpos = ((360/2)-(28+18+20)).ToString() + "px";
}

<section class="slice white animate-hover-slide">
	<div class="w-section inverse shop">
		<div class="container">
			<div class="row">
				@if(!GetBoolean("Item.Page.LayoutHideLeftMenu")) {
				<div class="col-md-3 hidden-sm hidden-xs">
					<div class="widget">
						<h3 class="dw-section-title"><span>@GetGlobalValue("Global:Page.Top.Name")</span></h3>
						<text>&nbsp;</text>
						<ul class="dw-categories dwnavigation" id="leftnavigation" data-settings="startlevel:1;endlevel:4;template:LeftNavigationEcom.xslt;">
							<li><a href="#">Laptops <i> (20)</i></a></li>
							<li><a href="#">Tablets <i> (8)</i></a></li>
							<li><a href="#">Phones <i> (16)</i></a></li>
							<li><a href="#">Mice <i> (82)</i></a></li>
							<li><a href="#">Cameras <i> (33)</i></a></li>
						</ul>
					</div>
				</div>
				}
				<div class="col-md-9 col-sm-12 col-xs-12">
					<div class="row">
						<div class="col-md-12 col-sm-12 col-xs-12">
						@if (totalimages != ""){
							<div id="myCarousel" class="carousel slide" data-ride="carousel">
							<div class="carousel-inner" role="listbox" style="max-height:360px !important">
							    
							@{
								var count = 0;
								var focus = "active";
							}
							    
							@foreach (LoopItem i in GetLoop("Item.Images")){
								    
								if (count > 0){
								    focus = "";
								}
								
								var image = System.Web.HttpContext.Current.Server.UrlEncode(i.GetString("Item.Images.Image"));
								var TitleSize = "28px";
								var SubSize = "18px";
								var TitleColor = "#FFF";
								var SubColor = "#FFF";
								
								<div class="item @focus">  
									<img class="img-responsive" src="/Admin/Public/GetImage.ashx?width=1920&amp;Compression=75&amp;image=@image">
								    <div class="container">
								    	<div class="carousel-caption" style="top: @textpos !important">
											@if (i.GetString("Item.Images.Link") != ""){
											    <a href="@i.GetString("Item.Images.Link")">
												    <h2><span style="font-family: @TitleFont; font-size: @TitleSize; color: @TitleColor;" class="title carousel-text">&nbsp;@i.GetString("Item.Images.Title")&nbsp;</span></h2>
												    @if (i.GetString("Item.Images.Subtitle") != ""){
												    	<span style="font-family: @SubFont; font-size: @SubSize; color: @SubColor;" class="subtitle carousel-text">&nbsp;@i.GetString("Item.Images.Text")&nbsp;</span>
												    }
											    </a>
											} else {
												<h2><span style="font-family: @TitleFont; font-size: @TitleSize; color: @TitleColor;" class="title carousel-text">&nbsp;@i.GetString("Item.Images.Title")&nbsp;</span></h2>
												if (i.GetString("Item.Images.Subtitle") != ""){
													<span style="font-family: @SubFont; font-size: @SubSize; color: @SubColor;" class="subtitle carousel-text">&nbsp;@i.GetString("Item.Images.Text")&nbsp;</span>
												}
											}
										</div>
								    </div>
								</div>
								
								count++;
							}
							</div>
							
							<!-- Controls -->
							<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
						        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
						        <span class="sr-only">Previous</span>
						    </a>
							<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
						        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
						        <span class="sr-only">Next</span>
						    </a>
							</div>
						} else {
							foreach (LoopItem i in GetLoop("Item.Images")){
								var image = i.GetString("Item.Images.Image");
								
								<img class="img-responsive" src="/Admin/Public/GetImage.ashx?image=@image&width=1280&compression=90&crop=7">
							}
						}	
						</div>	
					</div>
					<div class="row">
						<div class="col-md-12 col-sm-12 col-xs-12">
							<div class="figure">
								<h1>@GetString("Item.Title")</h1>
								@GetString("Item.ProductInfo")

								@{ string back = Translate("Back", "Back"); }
                              	<input type="button" class="btn btn-dw-primary" value="@back" onclick="history.back(-1)" />
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>	

