<table class="table table-striped">
	<thead>
		<tr>
			<td>@Translate("Filename", "Filename")</td>
			<td class="td-right">@Translate("Filesize", "Filesize")</td>
			<td class="td-right">@Translate("Date", "Date")</td>
		</tr>
	</thead>
	<tbody>
		@GetValue("FilepublishList")
	</tbody>
</table>
@GetValue("FilepublishUpload")