@Include("includes/ProductListRender.cshtml")


@{	
	string grouplink = "";

	if (!string.IsNullOrWhiteSpace(GetString("Ecom:ProductList:Page.GroupID"))) {
		grouplink = "/Default.aspx?ID=" + GetValue("Ecom:ProductList:Page.ID") + "&amp;GroupID=" + GetValue("Ecom:ProductList:Page.GroupID");
	} else {
		grouplink = "/Default.aspx?ID=" + GetValue("Ecom:ProductList:Page.ID") + "&amp;eComQuery=" + GetValue("Ecom:ProductList:Search.Query");
	}
}

<div class="col-md-12 col-sm-12 col-xs-12">
	<div class="row">
		
		@* Productlist header, left *@

		<div class="col-md-4 col-sm-4 col-xs-4">
			@if (!string.IsNullOrWhiteSpace(GetString("Server:Request.ecomquery"))) {
				<h3 class="dw-section-title"><span>Searchresult for '@GetString("Server:Request.ecomquery")'</span></h3>
			}
			@if (string.IsNullOrWhiteSpace(GetString("Server:Request.ecomquery"))) {
				<h3 class="dw-section-title dw-section-title-small">
					<span>
						@if (!string.IsNullOrWhiteSpace(GetString("Ecom:ProductList:Page.GroupName")))
						{
							@GetString("Ecom:ProductList:Page.GroupName"); 
						} else {
							<text>@Translate("All products", "All products")</text>
						}
					</span>
				</h3>
			}
		</div>

		@* Productlist header, center *@

		<div class="col-md-4 col-sm-4 col-xs-4 hidden-xs">
			<div class="hidden-xs">
				<span class="text-center" style="color: #AAAAAA !important; font-size: 14px !important">@Translate("Showing page", "Showing page") @GetValue("Ecom:ProductList.CurrentPage") @Translate("of", "of") @GetValue("Ecom:ProductList.TotalPages") (@GetValue("Ecom:ProductList.PageProdCnt") @Translate("products", "products"))</span>
			</div>
		</div>

		@* Productlist header, right *@

		<div class="col-md-4 col-sm-4 col-xs-4 pull-right">
			<div class="btn-group pull-right hidden-xs" style="" id="viewbtns">
				<button type="button" class="btn btn-xs btn-three" onclick="ListView()"><span class="glyphicon glyphicon-th-list"></span></button>
				<button type="button" class="btn btn-xs btn-three" onclick="BoxView()"><span class="glyphicon glyphicon-th"></span></button>
			</div>
			<div class="pull-right">
				<div class="btn-group">
					<button type="button" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
						@Translate("Sort by", "Sort by") <span class="caret"></span>
					</button>
					<ul class="dropdown-menu dropdown-menu-right" role="menu">
						<li><a onclick="SortProductsBy('Name')">@Translate("Default", "Default")</a></li>
						<li class="divider"></li>
						<li><a onclick="SortProductsBy('Price&amp;SortOrder=Asc')" class="pill-left">@Translate("Price low-high", "Price low-high") </a></li>
						<li><a onclick="SortProductsBy('Price&amp;SortOrder=Desc')" class="pill-left">@Translate("Price high-low", "Price high-low") </a></li>
					</ul>
				</div>
				&nbsp;&nbsp;
			</div>
		</div>
	</div>
	
	<div class="row">&nbsp;</div>

	@* The product list, included from the re-useable template *@

	<div class="row">
		@GetProductList(GetLoop("Products"), 3) <!-- The columns are controled by the listview javascript -->
	</div>

	@* Productlist footer *@

	<hr> 
	<span class="shop-page-info pull-left hidden-sm hidden-xs" style="color: #AAAAAA !important; font-size:14px !important">@Translate("Showing page", "Showing page") @GetValue("Ecom:ProductList.CurrentPage") @Translate("of", "of") @GetValue("Ecom:ProductList.TotalPages") (@GetValue("Ecom:ProductList.PageProdCnt") @Translate("products", "products"))</span>
	<ul class="pagination pull-right">
		@if (!string.IsNullOrWhiteSpace(GetString("Ecom:ProductList.PrevPage.Clean"))) {
			<li><a href="@GetString("Ecom:ProductList.PrevPage.Clean")">&laquo;</a></li>
		}
		@foreach (LoopItem page in GetLoop("Ecom:ProductList.Pages"))	{
			<li>
				<a href="@page.GetString("Ecom:ProductList.Pages.Page.Url")">
					@if (!string.IsNullOrWhiteSpace(page.GetString("Ecom:ProductList.Pages.Page.IsCurrent")))
					{
					<strong>@page.GetValue("Ecom:ProductList.Pages.Page.Number")</strong>
					} else {
					@page.GetValue("Ecom:ProductList.Pages.Page.Number");
					}
				</a>
			</li>
		}
		@if (!string.IsNullOrWhiteSpace(GetString("Ecom:ProductList.NextPage.Clean"))) {
			<li><a href="@GetString("Ecom:ProductList.NextPage.Clean")">&raquo;</a></li>
		}
	</ul>
</div>
<div class="row"><div class="col-md-12 col-sm-12 col-xs-12">&nbsp;</div></div>


@* Makes it possible to view the list with switchable layouts *@

<script src="/Files/Templates/Designs/DwSimple/js/ProductListViews.js"></script>
<script>
	InitListView(@Pageview.Area.Item["EcommerceProductListForm"].ToString());
</script>