<div class="container">
	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">		
				<h3 class="dw-section-title"><span>@Translate("Reciept", "Reciept")</span></h3>
			</div>
		</div>
</div>
<section class="slice white">
	<div id="invoice" class="new">
		<div class="row">
            <div class="this-is">
                <strong>@Translate("Invoice", "Invoice")</strong>
            </div>

            <header id="header">
                <div class="invoice-intro">
                	@{
                		var logoimage = Pageview.Area.Item["GeneralLogo"].ToString();
                		var logotext = Pageview.Area.Item["GeneralLogoText"].ToString();
                	}

                    @if (!string.IsNullOrWhiteSpace(logoimage))
	                {
	                    <div class="img-responsive pull-left">
							<img src="@logoimage" />
							<p>
						</div>
	                }
	                
	                @if (!string.IsNullOrWhiteSpace(logotext))
		                                {
						<div class="dw-logotext pull-left">@logotext</div>
	                }
                </div>

                <dl class="invoice-meta">
                    <dt class="invoice-number">@Translate("Order number", "Order number"):</dt>
                    <dd>@GetString("Ecom:Order.ID")</dd>
                    @if (!string.IsNullOrWhiteSpace(GetString("Ecom:Order.TransactionNumber"))) {
                    	<dt class="invoice-number">@Translate("Transaction number", "Transaction number"):</dt>
                    	<dd>@GetString("Ecom:Order.TransactionNumber")</dd>
                	}
                    <dt class="invoice-date">@Translate("Order date", "Order date"):</dt>
                    <dd>@GetDate("Ecom:Order.Completed").ToString(Dynamicweb.Dates.DateFormatStringShort)</dd>
                    <dt class="invoice-date">@Translate("Payment method", "Payment method"):</dt>
                    <dd>@GetString("Ecom:Order.PaymentMethod")</dd>
                    <dt class="invoice-date">@Translate("Shipping method", "Shipping method"):</dt>
                    <dd>@GetString("Ecom:Order.ShippingMethod")</dd>
                    <dt class="invoice-date">@Translate("Client IP", "Client IP"):</dt>
                    <dd>@GetString("Ecom:Order.IP")</dd>
                </dl>
            </header>
         </div>
         <div class="row">
            <section id="parties">
                <div class="invoice-to">
                    <h2>@Translate("Billing address", "Billing address")</h2>
                    <div class="vcard">
                       	<div>@GetString("Ecom:Order.Customer.Company")</div>
						<div>@GetString("Ecom:Order.Customer.Name")</div>
						<div>@GetString("Ecom:Order.Customer.Address")</div>
						<div>@GetString("Ecom:Order.Customer.Address2")</div>
						<div>@GetString("Ecom:Order.Customer.Zip") @GetString("Ecom:Order.Customer.City") - @GetString("@Ecom:Order.Customer.Country")</div>
						<div>@GetString("Ecom:Order.Customer.Email")</div>
						<div>@GetString("Ecom:Order.Customer.Phone")</div>
                    </div>
                </div>

                @if (!string.IsNullOrWhiteSpace(GetString("Ecom:Order.Delivery.Address"))){
	                <div class="invoice-to">
	                    <h2>@Translate("Shipping address", "Shipping address")</h2>
	                    <div class="vcard">
	                       	<div>@GetString("Ecom:Order.Delivery.Company")</div>
							<div>@GetString("Ecom:Order.Delivery.Name")</div>
							<div>@GetString("Ecom:Order.Delivery.Address")</div>
							<div>@GetString("Ecom:Order.Delivery.Address2")</div>
							<div>@GetString("Ecom:Order.Delivery.Zip") @GetString("Ecom:Order.Delivery.City") - @GetString("Ecom:Order.Delivery.Country")</div>
							<div>@GetString("Ecom:Order.Delivery.Email")</div>
							<div>@GetString("Ecom:Order.Delivery.Phone")</div>
	                    </div>
	                </div>
	            }
            </section>
        </div>
        <div class="row">
            <section class="invoice-financials">
                <div>
                    <table class="table table-cart table-responsive">
							<tbody>
								<tr>
									<th>#</th>
									<th>@Translate("Product", "Product")</th>
									<th>@Translate("Price", "Price")</th>
									<th>@Translate("Qty", "Qty")</th>
									<th>@Translate("Total", "Total")</th>
								</tr>
								@foreach (LoopItem orderline in GetLoop("OrderLines")){
									<tr>
										<td>
											@orderline.GetString("Ecom:Order:OrderLine.ProductNumber")
											@if (orderline.GetString("Ecom:Order:OrderLine.Type") == "1") {
												<small>@Translate("Discount", "Discount")</small>
											}
										</td>
										<td>
											<a href="@orderline.GetString("Ecom:Order:OrderLine.ProductLink")">
												@orderline.GetString("Ecom:Order:OrderLine.ProductName.Short")
												@if (!string.IsNullOrWhiteSpace(orderline.GetString("Ecom:Order:OrderLine.ProductVariantText"))) {
													orderline.GetString("Ecom:Order:OrderLine.ProductVariantText");
												}
											</a>
										</td>
										<td>@orderline.GetString("Ecom:Order:OrderLine.Price")</td>
										<td>@orderline.GetString("Ecom:Order:OrderLine.Quantity")</td>
										<td>@orderline.GetString("Ecom:Order:OrderLine.TotalPrice")</td>
									</tr>
									foreach (LoopItem bomitem in orderline.GetLoop("BOMItems")){
										<tr class="active">
											<td style="padding-top:4px;padding-bottom:4px;">@bomitem.GetString("Ecom:Order:OrderLine.ProductNumber")</td>
											<td style="padding-top:4px;padding-bottom:4px;">@bomitem.GetString("Ecom:Order:OrderLine.ProductName.Short")</td>
											<td style="padding-top:4px;padding-bottom:4px;">@bomitem.GetString("Ecom:Order:OrderLine.Price")</td>
											<td style="padding-top:4px;padding-bottom:4px;">@bomitem.GetString("Ecom:Order:OrderLine.Quantity")</td>
											<td style="padding-top:4px;padding-bottom:4px;">@bomitem.GetString("Ecom:Order:OrderLine.TotalPrice")</td>
										</tr>
									}
								}
							</tbody>
						</table>
                </div>
            </div>
            <div class="row">
                <div class="invoice-totals">
					<div class="row">
						<div class="col-md-12">
							<hr></hr>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							@Translate("Total", "Total")
						</div>
						<div class="col-md-6">
							@GetString("Ecom:Order.PriceWithoutFees.PriceFormatted")
						</div>
					</div>
					
					@if (GetInteger("Ecom:Order.PaymentFee.Price") > 0){
						<div class="row">
							<div class="col-md-6">
								@GetString("Ecom:Order.PaymentMethod")
							</div>
							<div class="col-md-6">
								@GetString("Ecom:Order.PaymentFee.PriceFormatted")
							</div>
						</div>
					}
					
					<div class="row">
						<div class="col-md-6">
							@Translate("VAT", "VAT")
						</div>
						<div class="col-md-6">
							@GetString("Ecom:Order.Price.VATFormatted")
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							@GetString("Ecom:Order.ShippingMethod")
						</div>
						<div class="col-md-6">
							@GetString("Ecom:Order.ShippingFee.PriceFormatted")
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<hr></hr>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							@Translate("Total with VAT", "Total with VAT")
						</div>
						<div class="col-md-6">
							<strong>@GetString("Ecom:Order.Price.PriceWithVATFormatted")</strong>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<hr></hr>
						</div>
					</div>
                </div>
            </div>
            <div class="row">
                <div class="invoice-notes">
                   
                </div>
            </div>

            @if (!string.IsNullOrWhiteSpace(GetString("Ecom:Order.PaymentMethod.RecurringSupport"))) {
            	if (!string.IsNullOrWhiteSpace(GetString("Ecom:Order.Recurring.IntervalUnit"))) {
		            <div class="row">
		            	<h2>@Translate("Recurring order settings", "Recurring order settings")</h2>

		            	<table class="table table-cart table-responsive">
			                <tr>
			                    <td>
			                        @Translate("Recurring every", "Recurring every")
			                    </td>
			                    <td>
			                        @GetString("Ecom:Order.Recurring.Interval")

			                        @if (GetInteger("Ecom:Order.Recurring.IntervalUnit") == 0) {
			                        	<text>@Translate("Days", "Days")</text>
			                       	}
			                        @if (GetInteger("Ecom:Order.Recurring.IntervalUnit") == 1) {
			                        	<text>@Translate("Weeks", "Weeks")</text>
			                        } 
			                        @if (GetInteger("Ecom:Order.Recurring.IntervalUnit") == 2) {
			                        	<text>@Translate("Months", "Months")</text>
			                        }  
			                    </td>
			                </tr>
			                <tr>
			                    <td>
			                        @Translate("Recurring start date", "Recurring start date")
			                    </td>
			                    <td>
			                        @GetString("Ecom:Order.Recurring.StartDate")
			                    </td>
			                </tr>
			                @if (!string.IsNullOrWhiteSpace(GetString("Ecom:Order.Recurring.EndDate.Clean"))) {
				                <tr>
				                    <td>
				                        @Translate("Recurring end date", "Recurring end date")
				                    </td>
				                    <td>
				                        @GetString("Ecom:Order.Recurring.EndDate.Clean")
				                    </td>
				                </tr>        
			                }
		                </table>
		            </div>
		        }
        	}

            <div class="row">
            	@if (!string.IsNullOrWhiteSpace(GetString("Ecom:Order.HasUsedGiftCards"))) {
				    <h2>@Translate("Order used gift cards", "Order used gift cards")</h2>
			        
			        <table class="table table-cart table-responsive">
			            <tr>
			                <td><strong>@Translate("Gift card name", "Gift card name")</strong></td>
			                <td><strong>@Translate("Gift card code", "Gift card code")</strong></td>
			                <td><strong>@Translate("Expiry date", "Expiry date")</strong></td>
			                <td align="right"><strong>@Translate("Initial amount", "Initial amount")</strong></td>
			                <td align="right"><strong>@Translate("Used amount", "Used amount")</strong></td>
			                <td align="right"><strong>@Translate("Remaining balance", "Remaining balance")</strong></td>
			            </tr>
			           
			            @foreach (LoopItem usedgiftcards in GetLoop("UsedGiftCards"))
                		{
				            <tr>
				                <td>@usedgiftcards.GetString("Ecom:Order.UsedGiftCard.Name")</td>
				                <td>@usedgiftcards.GetString("Ecom:Order.UsedGiftCard.Code")</td>
				                <td>@usedgiftcards.GetString("Ecom:Order.UsedGiftCard.ExpiryDate")</td>
				                <td align="right" title="@usedgiftcards.GetString("Ecom:Order.UsedGiftCard.InitialAmount")">@usedgiftcards.GetString("Ecom:Order.UsedGiftCard.InitialAmount")</td>
				                <td align="right" title="@usedgiftcards.GetString("Ecom:Order.UsedGiftCard.UsedAmountForTheOrder")">@usedgiftcards.GetString("Ecom:Order.UsedGiftCard.UsedAmountForTheOrder")</td>
				                <td align="right" title="@usedgiftcards.GetString("Ecom:Order.UsedGiftCard.RemainingBalance")">@usedgiftcards.GetString("Ecom:Order.UsedGiftCard.RemainingBalance")</td>
				            </tr>
			            }
			        </table>
				 }    

				 @if (!string.IsNullOrWhiteSpace(GetString("Ecom:Order.HasGiftCards"))) {
					<h2>@Translate("Order bought giftcard products", "Order bought giftcard products")</h2>
		            
		            <table class="table table-cart table-responsive">
		                <tr>
		                    <td><strong>@Translate("Gift card name", "Gift card name")</strong></td>
		                    <td><strong>@Translate("Gift card code", "Gift card code")</strong></td>
		                    <td><strong>@Translate("Expiry date", "Expiry date")</strong></td>
		                    <td align="right"><strong>@Translate("Amount", "Amount")</strong></td>
		                </tr>

		                @foreach (LoopItem giftcards in GetLoop("GiftCards"))
                		{
			                <tr>
			                    <td>@giftcards.GetString("Ecom:Order.GiftCard.Name")</td>
			                    <td>@giftcards.GetString("Ecom:Order.GiftCard.Code")</td>
			                    <td>@giftcards.GetString("Ecom:Order.GiftCard.ExpiryDate")</td>
			                    <td align="right" title="@giftcards.GetString("Ecom:Order.GiftCard.Amount")">@giftcards.GetString("Ecom:Order.GiftCard.Amount")</td>
			                </tr>
		                }
		            </table>
				 }
            </div>
            </section>
        </div>
	</div>
</section>