
<table class="table responsive-table">
    <thead>
        <tr>
            <td>
                @Translate("Name", "Name")
                @GetString("Ecom:CustomerCenter.SortByName.Desc")
                @GetString("Ecom:CustomerCenter.SortByName.Asc")
            </td>
            <td>
                @Translate("Card type", "Card type")
                @GetString("Ecom:CustomerCenter.SortByCardType.Desc")
                @GetString("Ecom:CustomerCenter.SortByCardType.Asc")
            </td>
            <td>
                @Translate("Card number", "Card number")
                @GetString("Ecom:CustomerCenter.SortByIdentifier.Desc")
                @GetString("Ecom:CustomerCenter.SortByIdentifier.Asc")
            </td>
            <td>
                @Translate("Payment method", "Payment method")
                @GetString("Ecom:CustomerCenter.SortByPayment.Desc")
                @GetString("Ecom:CustomerCenter.SortByPayment.Asc")
            </td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        @if (!string.IsNullOrWhiteSpace(GetString("Ecom:CustomerCenter.SavedCards.EmptyList"))) {
    		<tr id="trNoOrdersFound"> 
    		    <td colspan="6"><strong>@Translate("No saved cards found", "No saved cards found")</strong></td>
            </tr>
		} else {
            foreach (LoopItem card in GetLoop("SavedCards")){
        		<tr class="@card.GetString("Ecom:CustomerCenter.Paging.EvenRowClass")">
        		    <td>@card.GetString("Ecom:SavedCard.Name")</td>
        		    <td>@card.GetString("Ecom:SavedCard.CardType")</td>
        		    <td>@card.GetString("Ecom:SavedCard.Identifier")</td>
                    <td>@card.GetString("Ecom:SavedCard.Payment")</td>
        			<td>
                        <a href="@card.GetString("Ecom:CustomerCenter.SavedCards.DeleteUrl")" title="Delete saved card" onclick="return confirm('Are you sure to delete saved card?');">@Translate("Delete", "Delete")</a>
        			</td>
                </tr>
            }
            
            if (!string.IsNullOrWhiteSpace(GetString("Ecom:CustomerCenter.SavedCards.Paging.Show"))) {
                <tr>
                    <td align="center" colspan="5" valign="top">
                        @if (!string.IsNullOrWhiteSpace(GetString("Ecom:CustomerCenter.Paging.Back.URL"))) {
        		            <a href="@GetString("Ecom:CustomerCenter.Paging.Back.URL")">@GetString("Ecom:CustomerCenter.Paging.Back")</a>
        	            }

        	            @if (!string.IsNullOrWhiteSpace(GetString("Ecom:CustomerCenter.Paging.HasPages"))) {
                            foreach (LoopItem page in GetLoop("Ecom:CustomerCenter.Paging.Pages")){
            	               <a class="@page.GetString("Ecom:CustomerCenter.Paging.PageClass")" href="@page.GetString("Ecom:CustomerCenter.Paging.PageIndexUrl")">@page.GetString("Ecom:CustomerCenter.Paging.PageIndex")</a>
            	            }
        				}
        				
        	            @if (!string.IsNullOrWhiteSpace(GetString("Ecom:CustomerCenter.Paging.Forward.URL"))) {
        	               <a href="@GetString("Ecom:CustomerCenter.Paging.Forward.URL")">@GetString("Ecom:CustomerCenter.Paging.Forward")</a>
        	            }
                    </td>
                </tr>
                <tr>
        			<td align="center" colspan="6">
        				Page @GetString("Ecom:CustomerCenter.Paging.CurrentPage") of @GetString("Ecom:CustomerCenter.Paging.NumPages")
        			</td>
                </tr>
            }
        }
    </tbody>
</table>